In [59]:
import pandas as pd
import numpy as np

# Load csv dataset in a dataframe

In [60]:
df = pd.read_csv('../resources/ScrutiniFI.csv',sep=';')

# Shape of dataframe

In [61]:
# Shape of the dataset
df.shape
print('Dataset is composed by {} rows'.format(df.shape[0]))
print('Dataset is composed by {} columns'.format(df.shape[1]))

Dataset is composed by 7998 rows
Dataset is composed by 12 columns

In [62]:
# Print the first 5 rows
df.head(5)

,DESCREGIONE,DESCPROVINCIA,DESCCOMUNE,ELETTORI,ELETTORI_M,VOTANTI,VOTANTI_M,NUMVOTISI,NUMVOTINO,NUMVOTIBIANCHI,NUMVOTINONVALIDI,NUMVOTICONTESTATI
0,ABRUZZO,CHIETI,ALTINO ...,2288,1101,1496,775,533,953,2,8,0
1,ABRUZZO,CHIETI,ARCHI ...,1785,861,1241,632,442,782,3,14,0
2,ABRUZZO,CHIETI,ARI ...,831,402,617,328,241,366,6,4,0
3,ABRUZZO,CHIETI,ARIELLI ...,939,453,612,304,194,410,1,7,0
4,ABRUZZO,CHIETI,ATESSA ...,8454,4121,5860,3006,1952,3836,45,27,0

# Are there missing values ?

In [63]:
pd.isnull(df).any()

DESCREGIONE          False
DESCPROVINCIA        False
DESCCOMUNE           False
ELETTORI             False
ELETTORI_M            True
VOTANTI              False
VOTANTI_M            False
NUMVOTISI            False
NUMVOTINO            False
NUMVOTIBIANCHI       False
NUMVOTINONVALIDI     False
NUMVOTICONTESTATI    False
dtype: bool

In [64]:
# Dataframe without null elements
df_no_null=df.dropna()
num_rows_no_null=df_no_null.shape[0]
all_rows = df.shape[0]
diff = all_rows-num_rows_no_null
print('There is(are) {} row(s) with at least one null value'.format(diff))

There is(are) 1 row(s) with at least one null value

In [65]:
# Get the line in which there is at least one Null Value
df[df.isnull().any(axis=1)]

,DESCREGIONE,DESCPROVINCIA,DESCCOMUNE,ELETTORI,ELETTORI_M,VOTANTI,VOTANTI_M,NUMVOTISI,NUMVOTINO,NUMVOTIBIANCHI,NUMVOTINONVALIDI,NUMVOTICONTESTATI
7612,VENETO,ROVIGO,GAIBA ...,840,NaN,642,320,275,361,3,3,0

How to handle with null values?
    - delete the row: in this case the Veneto region results will be wrong. On the other side, the number of elector is so low with respect to the total, that the error would quite insignificant. 
    - infer in some way its value, by for example calculate the average percentage between the total number of electors and the male electors

In [66]:
# Row 7654 affected by other missing values (?)
df_no_null.ix[7654]

DESCREGIONE                                                     VENETO
DESCPROVINCIA                           TREVISO
DESCCOMUNE           CESSALTO                                      ...
ELETTORI                                                             ?
ELETTORI_M                                                           ?
VOTANTI                                                              ?
VOTANTI_M                                                          973
NUMVOTISI                                                          712
NUMVOTINO                                                         1188
NUMVOTIBIANCHI                                                       6
NUMVOTINONVALIDI                                                    11
NUMVOTICONTESTATI                                                    0
Name: 7654, dtype: object

In [67]:
# Row 7610 affected by other missing values (Nan)
df_no_null.ix[7610]

DESCREGIONE                                                     VENETO
DESCPROVINCIA                           ROVIGO
DESCCOMUNE           FRASSINELLE POLESINE                          ...
ELETTORI                                                           Nan
ELETTORI_M                                                         585
VOTANTI                                                            899
VOTANTI_M                                                          467
NUMVOTISI                                                          327
NUMVOTINO                                                          560
NUMVOTIBIANCHI                                                       7
NUMVOTINONVALIDI                                                     5
NUMVOTICONTESTATI                                                    0
Name: 7610, dtype: object

In [68]:
df_clean=df.drop(df.index[7610])

In [69]:
df_clean=df_clean.drop(df.index[7654])

In [70]:
df_clean=df_clean.drop(df.index[7612])

In [71]:
df_clean.shape

(7995, 12)

In [72]:
# Dirty field to be fixed
df_clean.iloc[7967, df.columns.get_loc('ELETTORI')]=893

In [73]:
# Dirty field to be fixed
df_clean.iloc[7964, df.columns.get_loc('ELETTORI')]=893

In [74]:
# Dirty field to be fixed
df_clean.iloc[7975, df.columns.get_loc('ELETTORI')]=3360

In [75]:
# Check if all missing values have been fixed
pd.to_numeric(df_clean['VOTANTI_M'])

0         775
1         632
2         328
3         304
4        3006
5         239
6          97
7        1411
8         397
9         155
10        175
11        385
12        247
13       1745
14        957
15       1532
16       1243
17        103
18        505
19        268
20      14470
21        111
22        250
23         68
24        155
25        880
26       1237
27         89
28         35
29        497
        ...
7968      524
7969      436
7970     1142
7971     2490
7972     1821
7973     1738
7974     1861
7975      854
7976    10913
7977      555
7978     1350
7979     2332
7980     3867
7981     6376
7982      197
7983     1816
7984     3504
7985     2687
7986     7672
7987      402
7988     1016
7989      551
7990      767
7991    28839
7992      625
7993     1906
7994     2128
7995      395
7996      262
7997     2168
Name: VOTANTI_M, dtype: int64

NOW DATASET IS CLEAN

# Analysis on string columns: DESCREGION

In [76]:
regions_series = df_clean.DESCREGIONE
regions_series.unique()

array(['ABRUZZO', 'BASILICATA', 'CALABRIA', 'CALABRIA    ', 'CAMPANIA',
       'EMILIA-ROMAGNA', 'FRIULI-VENEZIA GIULIA', 'LAZIO', 'LIGURIA',
       'LOMBARDIA', 'MARCHE', 'MOLISE', 'PIEMONTE', 'PUGLIA', 'SARDEGNA',
       'SICILIA', 'SICLIA', 'TOSCANA', 'TRENTINO-ALTO ADIGE', 'UMBRIA',
       "VALLE D'AOSTA", 'VENETO'], dtype=object)

In [77]:
# There are some typo errors in regions' name 
# SICLIA -> SICILIA
df_clean.loc[df_clean['DESCREGIONE'] == "SICLIA"]

,DESCREGIONE,DESCPROVINCIA,DESCCOMUNE,ELETTORI,ELETTORI_M,VOTANTI,VOTANTI_M,NUMVOTISI,NUMVOTINO,NUMVOTIBIANCHI,NUMVOTINONVALIDI,NUMVOTICONTESTATI
6399,SICLIA,CATANIA,RANDAZZO ...,8919,4223,5173,2645,1384,3733,16,40,0

In [78]:
df_clean.iloc[6399, df.columns.get_loc('DESCREGIONE')]="SICILIA"

In [79]:
regions_series = df_clean.DESCREGIONE
regions_series.unique()

array(['ABRUZZO', 'BASILICATA', 'CALABRIA', 'CALABRIA    ', 'CAMPANIA',
       'EMILIA-ROMAGNA', 'FRIULI-VENEZIA GIULIA', 'LAZIO', 'LIGURIA',
       'LOMBARDIA', 'MARCHE', 'MOLISE', 'PIEMONTE', 'PUGLIA', 'SARDEGNA',
       'SICILIA', 'TOSCANA', 'TRENTINO-ALTO ADIGE', 'UMBRIA',
       "VALLE D'AOSTA", 'VENETO'], dtype=object)

In [80]:
# There are some typo errors in regions' name 
# CALABRIA     -> CALABRIA
df_clean.loc[df_clean['DESCREGIONE'] == "CALABRIA    "]

,DESCREGIONE,DESCPROVINCIA,DESCCOMUNE,ELETTORI,ELETTORI_M,VOTANTI,VOTANTI_M,NUMVOTISI,NUMVOTINO,NUMVOTIBIANCHI,NUMVOTINONVALIDI,NUMVOTICONTESTATI
651,CALABRIA,COSENZA,SARACENA ...,3241,1593,1775,938,723,1032,7,13,0

In [81]:
df_clean.iloc[651, df.columns.get_loc('DESCREGIONE')]="CALABRIA"

In [82]:
regions_series = df_clean.DESCREGIONE
regions_series.unique()

array(['ABRUZZO', 'BASILICATA', 'CALABRIA', 'CAMPANIA', 'EMILIA-ROMAGNA',
       'FRIULI-VENEZIA GIULIA', 'LAZIO', 'LIGURIA', 'LOMBARDIA', 'MARCHE',
       'MOLISE', 'PIEMONTE', 'PUGLIA', 'SARDEGNA', 'SICILIA', 'TOSCANA',
       'TRENTINO-ALTO ADIGE', 'UMBRIA', "VALLE D'AOSTA", 'VENETO'], dtype=object)

mispelling errors fixed

# Any incosistent number ?

In [83]:
df_clean.loc[pd.to_numeric(df_clean['NUMVOTINO']) > pd.to_numeric(df_clean['VOTANTI'])]

,DESCREGIONE,DESCPROVINCIA,DESCCOMUNE,ELETTORI,ELETTORI_M,VOTANTI,VOTANTI_M,NUMVOTISI,NUMVOTINO,NUMVOTIBIANCHI,NUMVOTINONVALIDI,NUMVOTICONTESTATI
7342,UMBRIA,TERNI,POLINO ...,206,110,156,83,89,1000000,0,4,0
7978,VENETO,VICENZA,SOSSANO ...,3360,1694,-2629,1350,842,1761,6,20,0

In [90]:
df_clean.loc[pd.to_numeric(df_clean['VOTANTI']) > pd.to_numeric(df_clean['ELETTORI'])]

,DESCREGIONE,DESCPROVINCIA,DESCCOMUNE,ELETTORI,ELETTORI_M,VOTANTI,VOTANTI_M,NUMVOTISI,NUMVOTINO,NUMVOTIBIANCHI,NUMVOTINONVALIDI,NUMVOTICONTESTATI
7970,VENETO,VICENZA,SAN VITO DI LEGUZZANO ...,893,1402,2277,1142,865,1395,4,13,0

In [93]:
df_clean.loc[pd.to_numeric(df_clean['ELETTORI_M']) > pd.to_numeric(df_clean['ELETTORI'])]

Empty DataFrame
Columns: [DESCREGIONE, DESCPROVINCIA, DESCCOMUNE, ELETTORI, ELETTORI_M, VOTANTI, VOTANTI_M, NUMVOTISI, NUMVOTINO, NUMVOTIBIANCHI, NUMVOTINONVALIDI, NUMVOTICONTESTATI]
Index: []

In [84]:
df_clean.ix[7342]
df_clean=df_clean.drop(df.index[7342])

In [85]:
df_clean.ix[7978]
df_clean=df_clean.drop(df.index[7978])

In [91]:
df_clean.ix[7970]
df_clean=df_clean.drop(df.index[7970])

In [86]:
df_clean.loc[pd.to_numeric(df_clean['NUMVOTINO']) > pd.to_numeric(df_clean['VOTANTI'])]

Empty DataFrame
Columns: [DESCREGIONE, DESCPROVINCIA, DESCCOMUNE, ELETTORI, ELETTORI_M, VOTANTI, VOTANTI_M, NUMVOTISI, NUMVOTINO, NUMVOTIBIANCHI, NUMVOTINONVALIDI, NUMVOTICONTESTATI]
Index: []

In [94]:
df_clean.loc[pd.to_numeric(df_clean['VOTANTI']) > pd.to_numeric(df_clean['ELETTORI'])]

Empty DataFrame
Columns: [DESCREGIONE, DESCPROVINCIA, DESCCOMUNE, ELETTORI, ELETTORI_M, VOTANTI, VOTANTI_M, NUMVOTISI, NUMVOTINO, NUMVOTIBIANCHI, NUMVOTINONVALIDI, NUMVOTICONTESTATI]
Index: []

# Final and cleaned dataframe

In [95]:
# Shape of the final dataset
df_clean.shape
print('The new dataset is composed by {} rows'.format(df_clean.shape[0]))
print('The new dataset is composed by {} columns'.format(df_clean.shape[1]))

The new dataset is composed by 7992 rows
The new dataset is composed by 12 columns

# Write dataframe to csv

In [96]:
df_clean.to_csv('../resources/ScrutiniFI_cleaned.csv',sep=';',index=False)